@use "styles/module" as c;

.algorithmsBox {
  @include c.every-box;
  width: calc(100vw - 32vw - 350px);
  padding: 15px;
  margin-bottom: 20px;
  h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
  }
  p {
    line-height: 25px;
    white-space: pre-wrap;
    word-break: break-all;
  }
  @media (max-width: c.$laptop) {
    width: calc(100vw - 40px);
  }
}

.algorithmsBoxAdmin {
  @include c.every-box;
  padding: 15px;
  margin: 0 0 20px 20px;
  header {
    display: flex;
    font-size: 14px;
    color: c.$gray-color;
    h3 {
      margin-right: 10px;
      font-size: 18px;
      color: c.$green-color;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
  }
}

.emojiBtn {
  width: 60px;
  padding: 2px;
  svg {
    margin-right: 7px;
  }
}
