@use "styles/module" as c;

.h1 {
  color: c.$gray-color;
  font-size: c.$font18px;
  margin: 3em 0;
  font-weight: 700;
}

.h2 {
  color: c.$green-color;
  font-size: c.$font18px;
  align-self: flex-start;
  margin-bottom: 1.3125em;
}

.password {
  @include c.every-input;
  width: 100%;
}

.loginBtn {
  @include c.green-long-btn;
  width: 100%;
  margin-top: 8em;
}

.changeText {
  color: c.$gray-color;
  justify-self: flex-end;
}

.googleLoginBtn {
  width: 100%;
  margin: 0em 0 11.7em;
  span {
    margin: 0 auto;
  }
}
