@use "styles/module" as c;

// TODO: 위치 수정

.algoritmFilterBtn {
  @include c.black-shadow;
  @include c.every-btn;
  text-align: center;
  margin-left: 39.5%;
  position: absolute;
  top: 150px;
  @media (max-width: c.$laptop) {
    top: 335px;
    right: 5px;
  }
  z-index: 1;
  color: c.$black-color;
  background-color: c.$white-color;
  text-align: center;
  width: 109px;
  font-weight: 700;
  padding: 12px;
  li {
    font-weight: 400;
    display: none;
    padding: 7px 0;
    background-color: c.$white-color;
    color: c.$black-color;
  }
  li:nth-child(1) {
    margin-top: 10px;
  }
  &:hover {
    li {
      display: block;
    }
  }
}
