@use "styles/module" as c;

// TODO: 위치 수정

.algoritmFilterBtn {
  @include c.drop-down-btn;
  @include c.black-shadow;
  top: 150px;
  right: 16vw;
  z-index: 1;
  color: c.$black-color;
  background-color: c.$white-color;
  text-align: center;
  width: 109px;
  font-weight: 700;
  padding: 12px;
  li {
    font-weight: 400;
  }
  @media (max-width: c.$laptop) {
    top: 335px;
    right: 5px;
  }
}
