@use "styles/module" as c;

.inputWrapper {
  width: 350px;
  @media (max-width: c.$laptop) {
    width: calc(100vw - 40px);
  }
}

.title {
  @include c.every-input;
  width: 76.5%;
  @media (max-width: c.$laptop) {
    width: calc(100% - 60px);
  }
}

.tagBtn {
  @include c.drop-down-btn;
  color: white;
  background-color: c.$green-color;
  margin-left: 5px;
  li {
    border: 1px solid c.$green-color;
  }
  &:hover {
    width: 57px;
  }
}

.tagClose {
  display: none;
}

.fullInput {
  @include c.every-input;
  width: 94.5%;
  @media (max-width: c.$laptop) {
    width: 100%;
  }
  margin: 5px 0;
}

.textareaBox {
  @include c.every-box;
  padding: 10px 0 10px 10px;
  width: calc(100% - 20px);
  @media (max-width: c.$laptop) {
    width: 100%;
    padding: 10px;
  }
}

.fullTextarea {
  @include c.every-input;
  width: 94%;
  @media (max-width: c.$laptop) {
    width: 100%;
    padding: 0;
  }
  resize: none;
  box-shadow: none;
  min-height: 80px;
}

.submitBtn {
  @include c.green-short-btn;
  margin: 0 0 0 calc(100% - 68px);
}

.admin {
  @include c.every-box;
  height: fit-content;
  width: 330px;
  @media (max-width: c.$laptop) {
    width: calc(100vw - 40px);
  }
  h3 {
    font-weight: 700;
    font-size: c.$font18px;
  }
  p {
    font-size: c.$font18px;
    margin: 10px 0 20px;
  }
}
