// set color

$gray-color: #c4c4c4;
$white-color: #ffffff;
$black-colro: #000000;
$green-color: #57cc4d;
$red-color: #e75858;
$yellow-color: #ecd06b;
$shadow-color: rgba(0, 0, 0, 0.25);
$shadow-color-green: rgba(87, 204, 77, 0.25);

//...ect

@mixin is-radius {
  border-radius: 5px;
}

@mixin black-shadow {
  box-shadow: 0px 1px 4px $shadow-color;
}

@mixin green-shadow {
  box-shadow: 1px 0px 10px $shadow-color-green;
}

// button styles
.every-btn {
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.filter-btn {
  @include is-radius;
  padding: 10px;
  font-weight: 700;
}

.every-btn--log-btn {
  @include is-radius;
  padding: 12px 50px;
  font-weight: 700;
}

.every-btn--short-btn {
  @include is-radius;
  padding: 10px 15px;
}

.long-btn--red-long-btn {
  background-color: #e75858;
}

.long-btn--green-long-btn {
  background-color: #57cc4d;
}

// box styles

.every-box {
  @include is-radius;
  padding: 15px;
}

// input styles

.every-input {
  @include is-radius;
  padding: 10px;
  &::placeholder {
    color: #c4c4c4;
    font-size: 14px;
  }
}
