@use "reset";
@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");

$default-font: "NanumSquareRound", sans-serif;

body {
  font-family: $default-font;
  box-sizing: border-box;
}
