@use "reset";
@use "module" as c;
@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");

$default-font: "NanumSquareRound", sans-serif;

body {
  font-family: $default-font;
  box-sizing: border-box;
  button {
    font-family: $default-font;
  }
  &::selection {
    color: #5f9025;
    background-color: #ebf6e0;
  }
  & ::-moz-selection {
    color: #5f9025;
    background-color: #ebf6e0;
  }
}

html {
  font-size: 16px;
  @media (max-width: c.$mobile) {
    font-size: 10px;
  }
}

.ReactModal__Content {
  @media (max-width: c.$mobile) {
    max-width: none !important;
    width: 80vw !important;
    height: 80vh !important;
  }
}
