@use "styles/module" as c;

.headingBox {
  margin: 3.125rem 0 1.688rem 0;
}

.heading-font {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.688rem;
}

.heading {
  @extend .heading-font;
  color: c.$green-color;
}

.explanation {
  @extend .heading-font;
  color: c.$black-color;
}
