@use "styles/module" as c;

@mixin commonTextStyle {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.875rem;
}

@mixin greenText {
  color: c.$green-color;
}

@keyframes widthAnimation {
  from {
    width: 0px;
  }
  to {
    width: 60vw;
  }
}

.explanation {
  @include commonTextStyle;
  @include greenText;
}

.greenLine {
  margin: 2.5rem 0;
  border: 0;
  width: 60vw;
  height: 1px;
  background-color: c.$green-color;
  animation: widthAnimation 2s ease;
}

.descAboutWrapper {
  * {
    @include commonTextStyle;
  }

  a {
    text-decoration: underline solid c.$green-color 1px;
    color: c.$green-color;
  }

  .title {
    font-weight: bold;
    font-size: c.$font18px;
    line-height: 1.25rem;
    margin: {
      top: 1.875rem;
      bottom: 1.25rem;
    }
  }

  .href {
    text-decoration: underline;
    @include greenText;
  }

  h3,
  .bold {
    font-weight: bold;
    margin: 0.313rem 0;
  }

  .answer {
    padding-left: 1.25rem;
  }

  .answer2 {
    padding-left: 2.5rem;
  }

  p {
    padding-bottom: 1.25rem;
    &:last-child {
      margin-bottom: 8.375rem;
    }
  }
}

.descRuleWrapper {
  * {
    @include commonTextStyle;
  }

  p {
    padding-bottom: 20px;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin: 5px 0;
  }
}
