@use "styles/module" as c;

.inputWrapper {
  width: 21.875rem;
  @media (max-width: c.$laptop) {
    width: calc(100vw - 2.5rem);
  }
}

.title {
  @include c.every-input;
  width: 76.5%;
  @media (max-width: c.$laptop) {
    width: calc(100% - 3.75rem);
  }
}

.tagBtn {
  @include c.drop-down-btn;
  color: white;
  background-color: c.$green-color;
  margin-left: 0.313rem;
  li {
    border: 1px solid c.$green-color;
    &:last-child {
      border-bottom-right-radius: 0.313rem;
      border-bottom-left-radius: 0.313rem;
    }
    & + li {
      border-top: none;
    }
  }
  &:hover {
    width: 3.625rem;
  }
}

.tagClose {
  display: none;
}

.tagOpen {
  display: block;
}

.fullInput {
  @include c.every-input;
  width: 94.5%;
  @media (max-width: c.$laptop) {
    width: 100%;
  }
  margin: 0.313rem 0;
}

.textareaBox {
  @include c.every-box;
  padding: 0.625rem 0 0.625rem 0.625rem;
  width: calc(100% - 1.25rem);
  @media (max-width: c.$laptop) {
    width: 100%;
    padding: 0.625rem;
  }
}

.fullTextarea {
  @include c.every-input;
  width: 94%;
  @media (max-width: c.$laptop) {
    width: 100%;
    padding: 0;
  }
  resize: none;
  box-shadow: none;
  min-height: 5rem;
}

.submitBtn {
  @include c.green-short-btn;
  margin: 0 0 0 calc(100% - 4.25rem);
}

.admin {
  @include c.every-box;
  height: fit-content;
  width: 20.625rem;
  @media (max-width: c.$laptop) {
    width: calc(100vw - 2.5rem);
  }
  h3 {
    font-weight: 700;
    font-size: c.$font18px;
  }
  p {
    font-size: c.$font18px;
    margin: 0.625rem 0 1.25rem;
  }
}
