@use "styles/module" as c;

.header {
  @include c.green-shadow;
  display: flex;
  justify-content: space-between;
  padding: 0 16vw;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 2;
  nav {
    padding: 0.938rem 0;
  }
  h1 {
    align-self: center;
  }
  @media (max-width: c.$laptop) {
    padding: 0.938rem 1.25rem;
  }
}

.nav {
  display: flex;
  li {
    margin: 0.438rem 0 0.438rem 3vw;
  }

  button {
    color: c.$gray-color;
  }

  .highLight > a {
    color: c.$green-color;
  }
}
