@use "styles/module" as c;

.header {
  @include c.green-shadow;
  display: flex;
  justify-content: space-between;
  padding: 15px 16vw;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 999;
  @media (max-width: c.$laptop) {
    padding: 15px 20px;
  }
}

.nav {
  display: flex;
  li {
    margin: 7px 0 7px 3vw;
  }

  button {
    color: c.$gray-color;
  }

  .highligth > a {
    color: c.$green-color;
  }
}
