@use "styles/module" as c;

// TODO: 위치 수정

.algoritmFilterBtn {
  @include c.drop-down-btn;
  @include c.black-shadow;
  position: absolute;
  top: -1.25rem;
  right: 0;
  z-index: 1;
  color: c.$black-color;
  background-color: c.$white-color;
  text-align: center;
  width: 6.875rem;
  font-weight: 700;
  padding: 0.75rem;
  li {
    font-weight: 400;
  }
  @media (max-width: c.$laptop) {
    top: 0;
  }
}
