@use "styles/module" as c;

.main {
  display: flex;
  justify-content: space-between;
}

.nav {
  margin-top: 61px;
  ul {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 30px;
      color: c.$red-color;
    }
  }
}

.algorithms {
  margin-top: 50px;
}
